<html>
<head>

<title>Demo Apps</title>

<script charset="UTF-8" type="text/javascript">
window["adrum-start-time"] = new Date().getTime();
(function(config){
	config.appKey = "SY-AAB-EJG";
	config.adrumExtUrlHttp = "http://cdn.appdynamics.com";
	config.adrumExtUrlHttps = "https://cdn.appdynamics.com";
	config.beaconUrlHttp = "http://syd-col.eum-appdynamics.com";
	config.beaconUrlHttps = "https://syd-col.eum-appdynamics.com";
	config.resTiming = {"bufSize":200,"clearResTimingOnBeaconSend": true};
	config.maxUrlLength = 512;
	config.page = {"captureTitle": true};
	config.fetch = true;
})(window["adrum-config"] || (window["adrum-config"] = {}));
</script>
<script src="//cdn.appdynamics.com/adrum/adrum-20.5.0.3144.js"></script>

</head>
<body>
	<ul>
		<li>Account Service
			<ul>
				<li><a href="/account">All Accounts</a></li>
				<li><a href="/account/sign_up">Sign Up</a></li>
				<li><a href="/account/sign_in">Sing In</a></li>
				<li><a href="/account/sign_out">Sing Out</a></li>
			</ul>
		</li>
		<li>Order Service
			<ul>
				<li><a href="/order">All Orders</a></li>
				<li><a href="/order/search_item">Search Item</a></li>
				<li><a href="/order/add_item">Add Item</a></li>
				<li><a href="/order/confirm">Confirm</a></li>
				<li><a href="/order/checkout">Checkout</a></li>
			</ul>
		</li>
	</ul>
</body>
</html>